
.background{
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.seeker-employe{
    border-radius: 50%;
}

/* .job-image{
    margin-left: 100px;
    margin-top: 63px;
    width: 500px;
    height: 500px;

} */

.seeker{
    margin-top: 200px;
    margin-left: 200px;
    
}

.employe{
    margin-top: 200px;
    margin-left: 20px;
}

.job-button{
    display: flex;
    
}

.seeker-button{
    background-color: rgb(25, 206, 25);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    color: white;
}

.input-group{
    margin-top: 50px;
    margin-right: 300px;
}

.btn-color{
    background-color: rgb(25, 206, 25);
    border-radius: 5px;
    color: white;
}


.dream-job{
    margin-top: 150px;
}

#solid{
    border: 2px solid rgb(25, 206, 25);
}