.background{
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.color{
    color: rgb(25, 206, 25);
}

.seeker-employe{
    border-radius: 50%;
    /* border: none; */

}

/* .job-image{
    margin-left: 100px;
    margin-top: 63px;
    width: 500px;
    height: 500px;

} */

.seeker{
    margin-right: 5px;
    
}

.employe{
    margin-left: 5px;
}

/* .job-button{
    display: flex;
} */

.seeker-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seeker-button{
    background-color: rgb(25, 206, 25);
    border-radius: 24px;
    border: none;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    color: white;
}

.input-group{
    margin-top: 30px;
}

.btn-color{
    background-color: rgb(25, 206, 25);
    border-radius: 5px;
    color: white;
}


/* .dream-job{
    margin-top: 150px;
} */

#solid{
    border: 2px solid rgb(25, 206, 25);
}



.banner{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}